extends ../layout

block content
    h1= title

    if order
        p Заказ: #{order.label}
        p Клиент: #{order.client_label}
        p Статус: #{order.status_label}

    if can_add_items
        h2 Новый элемент
        form(method='post', action='/orders/' + order.id + '/items')
            label(for='itemLabel') Наименование
            input#itemLabel(type='text', name='label')
            label(for='itemProduct') Товар
            select#itemProduct(name='product_id')
                option(value='') -
                each p in products
                    option(value=p.id)= p.label
            label(for='itemAmount') Сумма
            input#itemAmount(type='number', step='0.01', name='amount')
            button(type='submit') Добавить

    table
        tr
            th id
            th Наименование
            th Товар
            th Сумма
        each item in items
            tr
                td= item.id
                td= item.label
                td= item.product_label
                td= item.amount
